.content{
    margin: auto;
    position:relative;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 200px;
    height: 200px;
}

.layer{
    position: absolute;
}

.background{
    transform: translateX(0);
    /* animation: background-shift 4s linear 1 forwards; */
}

.train{
    transform: translateX(-600px);
    /* animation: train-shift 4s linear 1 forwards; */
}

.foreground{
    transform: translateX(-200px);
    /* animation: foreground-shift 4s linear 1 forwards; */
}

@keyframes background-shift {
    to{
        transform: translateX(-100px);
    }
}

@keyframes train-shift {
    to{
        transform: translateX(-100px);
    }
}

@keyframes foreground-shift {
    to{
        transform: translateX(-400px);
    }
}