.teachers-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10rem;
  position: relative;
}

.teachers-item {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2rem;
  transition: transform 1s;
}

.teachers-active {
  background-color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
